@model ICollection<HomeManager.Data.Data.Dtos.HomeDto>

<h2>Available Homes</h2>
@if (Model != null && Model.Any())
{
    foreach (var home in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5>@home.HomeName</h5>
                <p>@home.HomeDescription</p>
                <p>@home.HomePrice</p>
                <!--<a href="@Url.Action("Details", "Home", new { id = home.Id })">View Details</a>-->
                <a asp-action="Details" asp-route-id="@home.Id" class="btn btn-info">View Details</a>
            </div>
        </div>
    }
}
else
{
    <p>No homes available.</p>
}
